h1{
  line-height: center;
  text-transform: uppercase;
  font-family: 'Gayathri', sans-serif;
  font-size: 3em;
}

h2{
  text-align: right;
  font-family: 'Gayathri', sans-serif;
  font-size: 2em;
}

article{
  font-family: 'Cute Font', cursive;
  text-align: justify;

}

footer{
  text-align: center;
}